ILASTIK_BIN=/Users/jt/Desktop/professional/jacquelinetay.com/_wip/trap-counter/downloads/ilastik-1.4.2-arm64-OSX.app/Contents/MacOS/ilastik
ILASTIK_PROJECT=/Users/jt/Desktop/professional/jacquelinetay.com/_wip/trap-counter/models/nematode-traps-v2.ilp
ILASTIK_EXPORT_SOURCE=Probabilities
TRAP_PROBABILITY_CHANNEL=0
TRAP_PROBABILITY_THRESHOLD=0.75
TRAP_PROBABILITY_MIN_AREA=100
TRAP_PROBABILITY_MAX_AREA=20000
TRAP_PROBABILITY_MERGE_RADIUS=45
TRAP_DETECTION_MODE=hybrid
TRAP_HYBRID_METHOD=support
TRAP_HYBRID_SUPPORT_THRESHOLD=0.0
TRAP_HYBRID_SUPPORT_RADIUS=35
TRAP_HYBRID_SUPPORT_PERCENTILE=90
TRAP_HYBRID_POINT_RADIUS=150
TRAP_FALLBACK_ADAPTIVE=1
TRAP_FALLBACK_SWIRL=0
TRAP_FALLBACK_FILAMENT=0
TRAP_FALLBACK_SMALL_ROUND_DIAMETER=48
TRAP_FALLBACK_SMALL_ROUND_MIN_ELONGATION=1.35
TRAP_ADAPTIVE_RADII=24,48
TRAP_ADAPTIVE_PERCENTILE=99.2
TRAP_ADAPTIVE_MIN_CONTRAST=14
TRAP_ADAPTIVE_MIN_AREA=90
TRAP_ADAPTIVE_MIN_DIAMETER=26
TRAP_SWIRL_SPOT_RADIUS=24
TRAP_SWIRL_SURROUND_RADIUS=72
TRAP_SWIRL_MIN_LOCAL_CONTRAST=4.5
TRAP_SWIRL_MIN_EDGE_DENSITY=2.2
TRAP_SWIRL_MIN_DIRECTION_DIVERSITY=0.18
TRAP_SWIRL_PERCENTILE=97.5
TRAP_SWIRL_SUPPRESSION_RADIUS=38
TRAP_FILAMENT_RADIUS=16
TRAP_FILAMENT_PERCENTILE=98.2
TRAP_FILAMENT_MIN_SCORE=10
TRAP_EXCLUDE_BOTTOM_RIGHT=1
TRAP_EXCLUDE_RIGHT_FRACTION=0.23
TRAP_EXCLUDE_BOTTOM_FRACTION=0.18
